
$color-blue: #0d6efd;
$color-indigo: #6610f2;
$color-purple: #6f42c1;

$color-pink: #d63384;
$color-red: #dc3545;
$color-orange: #fd7e14;

$color-yellow: #ffc107;
$color-green: #198754;
$color-teal: #20c997;

$color-cyan: #0dcaf0;
$color-gray: #adb5bd;

$color-black: black;
$color-white: white;


.bg-blue {
  background-color: $color-blue;
}

.bg-indigo {
  background-color: $color-indigo;
}

.bg-purple {
  background-color: $color-purple;
}

.bg-pink {
  background-color: $color-pink;
}

.bg-red {
  background-color: $color-red;
}

.bg-orange {
  background-color: $color-orange;
}

.bg-yellow {
  background-color: $color-yellow;
}

.bg-green {
  background-color: $color-green;
}

.bg-teal {
  background-color: $color-teal;
}

.bg-cyan {
  background-color: $color-cyan;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-black {
  background-color: $color-black;
}

.bg-white {
  background-color: $color-white;
}