@import 'reset';
@import 'colors';
@import 'borders';

$lg: 1200px;
$md: 768px;
$sm: 576px;



.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $lg){
    width: $lg - 60px;
  }

  @media screen and (max-width: $md){
    width: 100%;
  }

}

.container-fluid{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  *{
    margin: 40px;
    flex: 1 0 21%;
  }
}

.col {
  flex: 1;
}





