@import 'reset';
@import 'colors';
@import 'borders';
@import 'button';

$lg: 1200px;
$md: 768px;
$sm: 576px;

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media screen and (max-width: $md) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}

.container-fluid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @media screen and (max-width: $md) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (max-width: $sm) {
    grid-template-columns: 1fr;
  }
}

@for $i from 1 through 8 {
  .gx-#{$i} {
    column-gap: 0.2em * $i;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span $i;

    @media screen and (max-width: $md) {
      grid-column: span round($i / 2);
    }
  
    @media screen and (max-width: $sm) {
      grid-column: span 1;
    }
  }
}

.grid-end {
  grid-column-end: 13;
}

.grid-start {
  grid-column-start: 0;
}